@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.tag {
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid $seagreen;
  background-color: white;

  @include desktop-tablet {
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
  }
  &:hover,
  &--selected {
    background-color: $seagreen;
  }
  &--clickable {
    border-color: $forestgreen;
    color: $forestgreen;
    &:hover,
    &.tag--selected {
      background-color: $forestgreen;
      color: white;
    }
  }
}
