@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.photo {
  &__content {
    padding: 0 1rem 48px 1rem;
    @include tablet {
      padding: 0 2rem 32px 2rem;
    }
    @include desktop {
      padding: 0 19.6875rem 32px 19.6875rem;
    }
  }
  &__comments-label {
    padding: 0.5rem 0;
    @include desktop-tablet {
      padding: 1rem 0;
    }
  }
}
