@use "./mixins" as *;

@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
}

.wordmark {
  font-family: "Newsreader", Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  @include desktop-tablet {
    font-size: 40px;
    line-height: 40px;
  }
}

.title {
  font-family: "Newsreader", Times, serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 38px;
  @include desktop-tablet {
    font-size: 52px;
    line-height: 66px;
  }
}

.heading {
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;

  @include desktop-tablet {
    font-size: 24px;
    line-height: 30px;
  }
}

.body-copy {
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  &--light {
    font-weight: 300;
  }
  @include desktop-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.small-body-copy {
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  @include desktop-tablet {
    font-size: 12px;
    line-height: 15px;
  }
}

.label {
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;

  @include desktop-tablet {
    font-size: 14px;
    line-height: 17.5px;
  }
}
