@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.app {
  &__body {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  &__content {
    padding: 0 1rem;
    @include desktop-tablet {
      padding: 0 2rem;
    }
  }
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include desktop-tablet {
      display: grid;
      grid-gap: 2rem;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    &--narrow {
      @include desktop {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
