@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.comment {
  &__body {
    border-top: 0.0625rem solid $seagreen;
  }
  &__header {
    @include display(flex, space-between, baseline, row);
    padding: 0.5rem 0;
    @include desktop-tablet {
      padding: 1rem 0;
    }
  }
  &__user,
  &__date {
    color: $forestgreen;
  }
  &__content {
    padding-bottom: 0.5rem;
    @include desktop-tablet {
      padding-bottom: 1rem;
    }
  }
}
