@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.card {
  border-radius: 0.5rem;
  border: 0.0625rem solid $seagreen;
  background-color: $sage;
  @include desktop-tablet {
    border-radius: 0.75rem;
  }
  &__content {
    position: relative;
    display: flex;
  }
  &__image {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    @include desktop-tablet {
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }
  }
  &__photographer {
    position: absolute;
    background-color: $sage;
    border-top-left-radius: 0.5rem;
    right: 0;
    bottom: 0;
  }
  &__photographer,
  &__info {
    padding: 0.5rem;
    @include desktop-tablet {
      padding: 1rem;
    }
  }
  &__info {
    border-top: 0.0625rem solid $seagreen;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__footer {
    @include display(flex, space-between, center, row);
    flex-wrap: wrap;
    row-gap: 1rem;
    padding-top: 0.5rem;
    @include desktop-tablet {
      padding-top: 1rem;
      row-gap: 0.5rem;
    }
    &-likes {
      @include display(flex, center, center, row);
      gap: 0.25rem;
    }
    &-photographer {
      order: 1;
      @include desktop-tablet {
        order: 0;
      }
    }
  }
}
