@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.card {
  border-radius: 8px;
  border: 1px solid $seagreen;
  background-color: $sage;
  &__content {
    position: relative;
    display: flex;
  }
  &__image {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &__photographer {
    position: absolute;
    background-color: $sage;
    border-top-left-radius: 8px;
    right: 0;
    bottom: 0;
  }
  &__photographer,
  &__info {
    padding: 8px;
  }
  &__info {
    border-top: 1px solid $seagreen;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 8px;
  }
  &__footer {
    @include display(flex, space-between, center, row);
    flex-wrap: wrap;
    row-gap: 16px;
    &-likes {
      @include display(flex, center, baseline, row);
      gap: 4px;
    }
  }
}

@include desktop-tablet {
  .card {
    border-radius: 12px;
    &__image {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    &__photographer,
    &__info {
      padding: 16px;
    }
    &__tags {
      padding-bottom: 16px;
    }
    &__footer {
      row-gap: 8px;
    }
  }
}
