@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.drawer {
  display: none;
  &--open {
    display: block;
    background-color: $sage;
    padding: 1rem;
    @include desktop-tablet {
      padding: 2rem;
    }
    @include desktop {
      height: stretch;
      width: 100%;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 0.5rem;
    @include tablet {
      padding-top: 1.5rem;
      padding-bottom: 3rem;
    }
    @include desktop {
      padding-top: 3rem;
    }
  }
}
