@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
.desc {
  background-color: $pistachio;
  padding: 2rem 0 3rem 0;
  width: 43.75rem;
  &__body {
    padding-top: 1.5rem;
  }
}
