@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
  @include display(flex, space-between, center, row);
  background-color: $pistachio;
  position: sticky;
  top: 0rem;
  z-index: 1;
  padding: 1.5rem 1rem;
  @include desktop-tablet {
    padding: 1.5rem 2rem;
  }
  &__cta {
    @include display(flex, center, center, row);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    color: $forestgreen;
    background-color: $pistachio;
    border: 0.125rem solid $forestgreen;
    border-radius: 1.0938rem;
    @include desktop-tablet {
      padding: 0.6875rem 1.375rem;
      border-radius: 1.3594rem;
    }
    &--hover {
      background-color: $forestgreen;
      color: white;
    }
  }
  &__link {
    color: $forestgreen;
    @include display(flex, center, center, row);
    gap: 0.5rem;
  }
}
