@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-color: $pistachio;
  padding: 3rem 1rem 1rem 1rem;
  @include desktop-tablet {
    padding: 3rem 2rem 1rem 2rem;
  }
  &__main-area {
    @include desktop {
      padding-bottom: 8rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 8rem;
    }
  }
  &__wordmark {
    padding-bottom: 2.5rem;
  }
  &__nav {
    padding-bottom: 1rem;
    &-element {
      padding: 0.125rem 0;
    }
    &--bottom {
      @include display(flex, space-between, baseline, row);
      width: 100%;
      & .label {
        color: $seagreen;
      }
    }
  }
  &__icon-area {
    @include display(flex, space-between, center, row);
    width: 9.375rem;
    padding: 1rem 0;
    @include desktop {
      padding: 0;
    }
  }
  &__bottom {
    @include display(flex, start, center, row);
    width: 14.6875rem;
    @include desktop-tablet {
      width: 18.75rem;
    }
  }
  &__nav-area {
    @include desktop-tablet {
      display: flex;
      gap: 8rem;
    }
  }
  &__main-text {
    @include desktop-tablet {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
    @include tablet {
      padding-bottom: 8rem;
    }
    @include desktop {
      width: 100%;
    }
  }
}
