@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-color: $pistachio;
  padding: 48px 16px 16px 16px;
  @include desktop-tablet {
    padding: 48px 32px 16px 32px;
  }
  &__wordmark {
    padding-bottom: 40px;
  }
  &__nav {
    padding-bottom: 16px;
    &-element {
      padding: 2px 0;
    }
    &--bottom {
      @include display(flex, space-between, baseline, row);
      width: 100%;
      & .label {
        color: #b7cec9;
      }
    }
  }
  &__icon-area {
    @include display(flex, space-between, center, row);
    width: 150px;
    padding: 16px 0;
  }
  &__bottom {
    @include display(flex, start, center, row);
    width: 235px;
    @include desktop-tablet {
      width: 300px;
    }
  }
}
