@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;

body {
  color: $black;
  background-color: $pistachio;
  margin: 0 16px;
  @include desktop-tablet {
    margin: 0 32px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

.app {
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include desktop-tablet {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-gap: 32px;
    }
  }
}
