@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;

body {
  color: $black;
  background-color: $pistachio;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}
